<article>
    <h3>Enter a character:</h3>
    <input id="input" type="text" data-ng-model="characterName.name">
    <div class="snippet" data-ng-repeat="char in characters | filter:characterName | limitTo: 1">
        <h1>{{char.name}}</h1>
        <img src="assets/images/characters/{{char.picture}}" alt="{{char.name}}" title="{{char.name}}" />
    </div>
</article>

<aside class="snippet" data-ng-repeat="char in characters | filter:characterName | limitTo: 1">
    <h1>Catch phrase: "{{char.phrase}}"</h1>
    <p>{{char.info}}</p>
</aside>
